
@{
    ViewBag.Title = "Index";
    Layout = null;
}


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>Names Test</h2>

<table class="table table-striped ">
    <tr>
        <th>Firstname</th>
        <th>Ages</th>
        <th>Country</th>
    </tr>

    <tbody>
        @if (ViewBag.name != null)
        {
            foreach (var name in ViewBag.name)
            {
                <tr>
                    <td>@name</td>
                </tr>


            }

        }
    </tbody>



</table>



