
@{
    ViewBag.Title = "Index";

}


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2 style="text-align:center">Names</h2>

<table class="table table-striped " style="width:30%">
    <tr>
        <th>Firstname</th>
       
    </tr>

    <tbody>
        @if (ViewBag.name != null)
        {
            foreach (var name in ViewBag.name)
            {
                <tr>
                    <td>@name
                </tr>
            }
        }
    </tbody>





</table>



