@{
    ViewBag.Title = "SumatorApp";
}

<div style="background-color:black;color:forestgreen;padding:20px;">
    <form method="post" action="/home/calculate"
<h2> Sumator </h2>
<input type="number" name="number1" value="@ViewBag.number1" />
<span>+</span>
 <input type="number" name="number2" value="@ViewBag.number2" />
<span>=</span>
<input type="number" readonly="readonly" value="@ViewBag.calculate" />

<input type="submit" value="Calculate" />


    </form></div>


